Agentic AI-Practical Labs/My workflow 4.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are a helpful assistant, and I want you to take the message of the email, and classify it where it as spam or not spam "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -496,
        -48
      ],
      "id": "7b9e4a1d-4da6-43a5-8811-b37487e1357a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -496,
        208
      ],
      "id": "5c50300c-09e0-4af5-a8df-d842f05cb965",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        -48
      ],
      "id": "6e3172a5-a46a-4d68-b30c-41ab7e799702",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "381a2189-d631-424e-b886-3457418e2451",
              "leftValue": "={{ $json.output }}",
              "rightValue": "spam",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -48
      ],
      "id": "000cebfc-da34-48a2-b31a-026481d9845d",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Classify the content of the message and convert it into JSON format, and specify where it is marketing, finance, or tech"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        -32
      ],
      "id": "d88315f7-1c6e-4179-8752-7c5b1fb8ead9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        176
      ],
      "id": "c0e209bf-cd45-4edc-b0e4-dd984fce975c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5cd79d39-ee14-4332-9420-14b6006b3369"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tech"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ddbf0dd2-51d8-4e2c-8050-48ff0097857e",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f6c83cba-304f-4276-88c6-90df6603ab2e",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "e0f706ea-c556-4cd7-bbf0-fd507a26622e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_113010394958882006"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        -288
      ],
      "id": "2531115f-b82b-484c-adcf-f3e90bcb8549",
      "name": "Add label to message",
      "webhookId": "898b6383-61c1-479e-8f24-14c4f267384f",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3647677723034398760"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -48
      ],
      "id": "9a4aacb0-6a21-4287-8d09-3096138be5a8",
      "name": "Add label to message1",
      "webhookId": "3bf3b58e-598e-4806-9f5a-4c8bd170c9fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_9018032972783741371"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        208
      ],
      "id": "09f2f418-4a87-4dfe-aaf8-3c99fc7ef751",
      "name": "Add label to message2",
      "webhookId": "8e5d8755-c9fc-4fb2-96a1-005f998c602d",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5dfc678a-7316-43f3-b161-14be6d84d047",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "768b1fb923d145427da560cf6f0a92bab0a51c6f3f3b43e3e487401f042de9ab"
  },
  "id": "vVoynODYGoFh0YNx",
  "tags": []
}