Agentic AI-Practical Labs/My workflow 3.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -368,
        -32
      ],
      "id": "c2883105-590c-4c14-9b99-70c501df137f",
      "name": "When chat message received",
      "webhookId": "25d28113-7a76-4f6d-9cb5-4f2ae28a8cf9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json$json.c$json.chatInputhatInput.chatInput }}{{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a content creator, take bullets and convert them into paragraphs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -32
      ],
      "id": "229825f2-5fe1-40c1-9671-aad6b58a69e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -80,
        224
      ],
      "id": "81706fa2-9776-41ba-88dc-ca3c72ec602d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a content creator. Take the paragraph, then  convert it to a structured draft"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -32
      ],
      "id": "5bc51fe6-ae99-409c-af70-7d737bda96c0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        240
      ],
      "id": "8e6a3ba0-fa0d-4a55-a516-7018c11c6b4c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a content creator. Take the structured draft and convert it into final content. Your tone is joyful and you use emojis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -32
      ],
      "id": "02ba8617-11a3-4e57-b2ce-3b6d440cf469",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        544,
        256
      ],
      "id": "b6deee02-e786-48d2-b3d9-0ba5d86f908c",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "70de634c-c071-4f8c-a974-5f241db38c23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "768b1fb923d145427da560cf6f0a92bab0a51c6f3f3b43e3e487401f042de9ab"
  },
  "id": "BEsiheLAtJiVIHeM",
  "tags": []
}