Agentic AI-Practical Labs/My workflow 2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        -176
      ],
      "id": "2d20c26d-f7a9-473e-b367-a4792c81ba9f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an email classifier, and your task is to classify whether the email is spam ot not, and the output format is JSON{\n'classify: \"spam or notspam\",\n'reason:'one sentence'}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -176
      ],
      "id": "54d1e7c2-fd97-4ce3-a4c3-46241ea3e80e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        48,
        128
      ],
      "id": "2afcec65-2e25-43db-9a51-9dd19e7106fe",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "502b2cc1-91c0-4dd8-9234-e8f69268ee32",
              "leftValue": "={{ $json.output.classify }}",
              "rightValue": "spam",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -96
      ],
      "id": "f33a7867-02d1-4bbb-9144-a8b17cc8a210",
      "name": "If"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"classify\": \"object\",\n  \"reason\": \"object\"\n\n  \n}   "
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        96
      ],
      "id": "29fe3498-50ff-4693-977d-d01d4029d9f5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $execution.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -208
      ],
      "id": "c6797a14-9695-4ac1-9430-ff7fc51413b7",
      "name": "Delete a message",
      "webhookId": "7b19e55f-954a-4731-b2ef-7b85d80b75e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgMJ2gAWLcANidtR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b82a093-6019-4755-9c47-8b28a765f402",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "768b1fb923d145427da560cf6f0a92bab0a51c6f3f3b43e3e487401f042de9ab"
  },
  "id": "5D7IihX8oI4rDuXV",
  "tags": []
}